@(message: String, size: Integer, list: List[models.SampleData])

@main("Welcome to Play") {
<h1>@message </h1>
<table>
        <tbody>
<tr>
 <th  width="800">時間/曜日</th>
 <th  width="800">月</th>
 <th  width="800">火</th>
 <th  width="800">水</th>
 <th  width="800">木</th>
 <th  width="800">金</th>
 <th  width="800">土</th>
</tr>

<tr>
<th  width="800">1時間目</th>
<td  width="800"><a href="@routes.Application.create(1,1)">
          授業   先生
  </a><br>
  @for(data <- list){
  @if(data.week == 1 && data.time == 1) {
      <a href="@routes.Application.edit(data.id)">@data.lesson</a>
      @data.teacher
    }
  }
</td>
<td  width="800"><a href="@routes.Application.create(2,1)">
          授業   先生
  </a><br>
  @for(data <- list){
  @if(data.week == 2 && data.time == 1) {
      <a href="@routes.Application.edit(data.id)">@data.lesson</a>
      @data.teacher
    }
  }
 </td>
<td  width="800"></td>
<td  width="800"></td>
<td  width="800"></td>
<td  width="800"></td>
</tr>
<tr>
<th  width="800">2時間目</th>
<td  width="800"></td>
<td  width="800"></td>
<td  width="800"></td>
<td  width="800"></td>
<td  width="800"></td>
<td  width="800"></td>
</tr>
<tr>
<th  width="800">3時間目</th>
<td  width="800"></td>
<td  width="800"></td>
<td  width="800"></td>
<td  width="800"></td>
<td  width="800"></td>
<td  width="800"></td>
</tr>
<tr>
<th  width="800">4時間目</th>
<td  width="800"></td>
<td  width="800"></td>
<td  width="800"></td>
<td  width="800"></td>
<td  width="800"></td>
<td  width="800"></td>
</tr>
<tr>
<th  width="800">5時間目</th>
<td  width="800"></td>
<td  width="800"></td>
<td  width="800"></td>
<td  width="800"></td>
<td  width="800"></td>
<td  width="800"></td>
</tr>
</tbody>
</table>
} 
 

 

