@(message: String, message: String int: width)

@main("Welcome to Play") {  @play20.welcome(message, style = "Java",1400)
<table>
<tbody>
<tr>
 <th  width="200">ŠÔ\—j“ú</th>
 <th  width="200">Œ</th>
 <th  width="200">‰Î</th>
 <th  width="200">…</th>
 <th  width="200">–Ø</th>
 <th  width="200">‹à</th>
 <th  width="200">“y</th>
</tr>
<tr>
<th  width="200">1ŒÀ–Ú</th>
<td  width="200"></td>
<td  width="200"></td>
<td  width="200"></td>
<td  width="200"></td>
<td  width="200"></td>
<td  width="200"></td>
</tr>
<tr>
<th  width="200">2ŒÀ–Ú</th>
<td  width="200"></td>
<td  width="200"></td>
<td  width="200"></td>
<td  width="200"></td>
<td  width="200"></td>
<td  width="200"></td>
</tr>
<tr>
<th  width="200">3ŒÀ–Ú</th>
<td  width="200"></td>
<td  width="200"></td>
<td  width="200"></td>
<td  width="200"></td>
<td  width="200"></td>
<td  width="200"></td>
</tr>
<tr>
<th  width="200">4ŒÀ–Ú</th>
<td  width="200"></td>
<td  width="200"></td>
<td  width="200"></td>
<td  width="200"></td>
<td  width="200"></td>
<td  width="200"></td>
</tr>
<tr>
<th  width="200">5ŒÀ–Ú</th>
<td  width="200"></td>
<td  width="200"></td>
<td  width="200"></td>
<td  width="200"></td>
<td  width="200"></td>
<td  width="200"></td>
</tr>
</tbody>
</table>
}
