@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>

    </head>
    <body>
        @content
        <table>
        <tbody>
<tr>
 <th  width="800">時間/曜日</th>
 <th  width="800">月</th>
 <th  width="800">火</th>
 <th  width="800">水</th>
 <th  width="800">木</th>
 <th  width="800">金</th>
 <th  width="800">土</th>
</tr>
<tr>
<th  width="800">1時間目</th>
<a href="create"></a><td  width="800"><br></td>
<td  width="800"></td>
<td  width="800"></td>
<td  width="800"></td>
<td  width="800"></td>
<td  width="800"></td>
</tr>
<tr>
<th  width="800">2時間目</th>
<td  width="800"></td>
<td  width="800"></td>
<td  width="800"></td>
<td  width="800"></td>
<td  width="800"></td>
<td  width="800"></td>
</tr>
<tr>
<th  width="800">3時間目</th>
<td  width="800"></td>
<td  width="800"></td>
<td  width="800"></td>
<td  width="800"></td>
<td  width="800"></td>
<td  width="800"></td>
</tr>
<tr>
<th  width="800">4時間目</th>
<td  width="800"></td>
<td  width="800"></td>
<td  width="800"></td>
<td  width="800"></td>
<td  width="800"></td>
<td  width="800"></td>
</tr>
<tr>
<th  width="800">5時間目</th>
<td  width="800"></td>
<td  width="800"></td>
<td  width="800"></td>
<td  width="800"></td>
<td  width="800"></td>
<td  width="400"></td>
</tr>
</tbody>
</table>
        
    </body>

</html>
